

.container {
    text-align: center;
}



.loader {
    border: 16px solid #c0341e;
    border-top: 16px solid rgb(158, 29, 6);
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
    
    position: sticky; 
    top: 50%; 
    left: 47%; 
    transform: translate(-50%, -50%); 
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}





/*  */

image {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; 
    gap: 20px; 
}

.card {

    background-color: white;
    border: 2px solid #772020;
    border-radius: 8px;
    padding: 20px;
    width: calc(25% - 80px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: black;
    font-size: 18px;
    margin-bottom: 5px;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.card p {
    margin-top: 10px;
    font-size: 18px;
    color: #fff;
}
